<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for PlaywrightSharp" Description="Rules for PlaywrightSharp" ToolsVersion="16.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1304" Action="Error" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1001" Action="None" />
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1032" Action="Error" />
    <Rule Id="CA1040" Action="None" />
    <Rule Id="CA1054" Action="None" />
    <Rule Id="CA1056" Action="None" />
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1063" Action="Error" />
    <Rule Id="CA1064" Action="Error" />
    <Rule Id="CA1200" Action="Info" />
    <Rule Id="CA1304" Action="Error" />
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1720" Action="None" />
    <Rule Id="CA1721" Action="None" />
    <Rule Id="CA1724" Action="None" />
    <Rule Id="CA1801" Action="Info" />
    <Rule Id="CA1806" Action="None" />
    <Rule Id="CA1815" Action="Info" />
    <Rule Id="CA1816" Action="Error" />
    <Rule Id="CA1819" Action="Info" />
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA1823" Action="Error" />
    <Rule Id="CA2000" Action="Error" />
    <Rule Id="CA2007" Action="Error" />
    <Rule Id="CA2008" Action="None" />
    <Rule Id="CA2101" Action="None" />
    <Rule Id="CA2200" Action="Error" />
    <Rule Id="CA2213" Action="Error" />
    <Rule Id="CA2220" Action="None" />
    <Rule Id="CA2227" Action="Info" />
    <Rule Id="CA2229" Action="Error" />
    <Rule Id="CA2237" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetCore.Analyzers" RuleNamespace="Microsoft.NetCore.Analyzers">
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1304" Action="Error" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1004" Action="None" />
    <Rule Id="SA1005" Action="Error" />
    <Rule Id="SA1009" Action="Error" />
    <Rule Id="SA1012" Action="None" />
    <Rule Id="SA1013" Action="None" />
    <Rule Id="SA1028" Action="Error" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1111" Action="Error" />
    <Rule Id="SA1116" Action="None" />
    <Rule Id="SA1118" Action="Error" />
    <Rule Id="SA1124" Action="None" />
    <Rule Id="SA1128" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1202" Action="None" />
    <Rule Id="SA1203" Action="None" />
    <Rule Id="SA1204" Action="None" />
    <Rule Id="SA1208" Action="None" />
    <Rule Id="SA1210" Action="None" />
    <Rule Id="SA1214" Action="None" />
    <Rule Id="SA1300" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1500" Action="None" />
    <Rule Id="SA1505" Action="Error" />
    <Rule Id="SA1512" Action="None" />
    <Rule Id="SA1513" Action="None" />
    <Rule Id="SA1514" Action="None" />
    <Rule Id="SA1515" Action="None" />
    <Rule Id="SA1516" Action="Error" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1602" Action="None" />
    <Rule Id="SA1612" Action="Error" />
    <Rule Id="SA1614" Action="None" />
    <Rule Id="SA1616" Action="None" />
    <Rule Id="SA1620" Action="Error" />
    <Rule Id="SA1622" Action="None" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1624" Action="None" />
    <Rule Id="SA1627" Action="None" />
    <Rule Id="SA1629" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1642" Action="None" />
    <Rule Id="SA1643" Action="None" />
    <Rule Id="SA1648" Action="None" />
    <Rule Id="SA1720" Action="None" />
    <Rule Id="SX1309" Action="Error" />
  </Rules>
</RuleSet>