name: Demo Project

on:
  push:
    branches:
      - master
      - release-*
  pull_request:
    paths:
      - "**.cs"
      - "**.csproj"
      - "**/demo.yml"

jobs:
  build:

    name: Demo Project (${{ matrix.os }}, ${{ matrix.browser }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-2022, macos-latest]
        browser: [chrome, firefox]
    env:
      DOTNET_VERSION: '10.0.x' # The .NET SDK version to use

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1.0.5

    - name: Install dependencies
      working-directory: ./demos/PuppeteerSharpPdfDemo
      run: |
        dotnet restore PuppeteerSharpPdfDemo-Local.csproj
    - name: Run on .NET
      working-directory: ./demos/PuppeteerSharpPdfDemo
      run: |
          dotnet run --project PuppeteerSharpPdfDemo-Local.csproj auto-exit ${{ matrix.browser }} -f net10.0
    - name: Run with Trim
      working-directory: ./demos/PuppeteerSharpPdfDemo
      run: |
          dotnet publish PuppeteerSharpPdfDemo-Local.csproj -p:PublishAot=false -r ${{ matrix.os == 'windows-2022' && 'win-x64' || 'osx-arm64' }} -o build-trim -f net10.0
          ${{ matrix.os == 'windows-2022' && 'build-trim/PuppeteerSharpPdfDemo-Local.exe' || './build-trim/PuppeteerSharpPdfDemo-Local' }} auto-exit ${{ matrix.browser }}
    - name: Run with AOT
      if: matrix.os == 'windows-2022'
      working-directory: ./demos/PuppeteerSharpPdfDemo
      run: |
          dotnet publish PuppeteerSharpPdfDemo-Local.csproj -r win-x64 -o build -f net10.0
          build/PuppeteerSharpPdfDemo-Local.exe auto-exit ${{ matrix.browser }}
    - name: Run on .NET Framework
      if: matrix.os == 'windows-2022'
      continue-on-error: ${{ matrix.browser == 'firefox' }}
      working-directory: ./demos/PuppeteerSharpPdfDemo
      run: |
          dotnet run --project PuppeteerSharpPdfDemo-Local.csproj auto-exit ${{ matrix.browser }} -f net481
